{% extends "ba/main.html" %}
{% load static %}
{% block content %}
<section class="hero-section">
    <div class="bold-text">
       <h2><i class="fa left fa-quote-left" aria-hidden="true"></i>Bringing ideas to life with code<i class="fa right fa-quote-right" aria-hidden="true"></i></h2>
    </div>
    <div class="grid-items">
      <div class="vertical-links">
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
      </div>
      
      <div class="first-image">
        <img src="{% static 'images/image.jpg' %}" alt="" />
      </div>
      
      <div class="text-section">
        <h2>
          
        </h2>
        <hr></hr>
        <h3 class="text2"> Hi👋, my name is Jude. Welcome to my Blog where i'll be sharing with you my experience as a Software Developer, my journey in Tech, tips that have helped me along the way and also i'll be simplifying some concepts about Python and Javascript. Let's grow together.🚀
        </h3>
      </div>
      
      <div class="second-image">
      </div>
    </div>
  </section>

  {% endblock %}