{% extends "ba/main.html" %}
{% load static %}
{% block content %}
<section class="hero-section">
    <div class="bold-text">
       <h2><i class="fa left fa-quote-left" aria-hidden="true"></i>Bringing ideas to life with code<i class="fa right fa-quote-right" aria-hidden="true"></i></h2>
    </div>
    <div class="grid-items">
      <div class="vertical-links">
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
      </div>
      
      <div class="first-image">
        <img src="{% static 'images/image.jpg' %}" alt="" />
      </div>
      
      <div class="text-section">
        <h2>
          
        </h2>
        <hr></hr>
        <h3 class="text2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
        </h3>
      </div>
      
      <div class="second-image">
      </div>
    </div>
  </section>

  {% endblock %}