{% extends 'ba/main.html' %} {% block content %} {% include "ba/navbar.html" %}
{% include "ba/heropage.html" %}

<!--Articles Heading-->
<h1 class="heading">Lastest Posts</h1>

<form class="search" method="get" action="">
  <input type="text" name="q" placeholder="Search Articles" />
  <a class="search-btn" href="#"
    ><i class="fa fa-search" aria-hidden="true"></i
  ></a>
</form>

<section class="container">
  {% for post in posts %}
  <div class="post-container">
    <img class="post-image" src="{{post.image.url}}" />
    <div class="post-body">
      <h3 class="post-title">
        <a href="{% url 'detailpost' post.slug %}" class="read-more"
          >{{ post.title }}</a
        >
      </h3>
      <br />
      <small class="category"> #{{post.category}} </small>
    </div>
  </div>
  {% endfor %}
</section>

<!-- contact me section -->

<section class="contact_me" id="contact">
  <!-- contact me heading -->
  <h1 class="heading">contact me</h1>

  <!-- contact me main container which contains everything except the heading -->
  <div class="contact_me_container">
    <h2 class="contact_me_text">Have any questions? Go ahead..</h2>

    {% include 'ba/contactForm.html' %}
    <h2 class="contact_me_text text2">
      You can also connect with me on any of these social media pages
    </h2>

    <!-- icons container -->
    <div class="icons_container">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="http://www.linkedin.com/in/Jude-olowo-397570232"
        ><i class="fa fa-linkedin"></i
      ></a>
      <a href="https://twitter.com/jude_olowo/"
        ><i class="fab fa-twitter-square"></i
      ></a>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
    </div>
  </div>
</section>

<!--footer section -->
{% include 'ba/footer.html' %} {% endblock %}
