{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/ba.css' %}"
    />
    <script
      src="https://kit.fontawesome.com/1062cf60f1.js"
      crossorigin="anonymous"
    ></script>

    <title>My Blog</title>
  </head>
  <body>
    <div class="">{% block content %} {% endblock %}</div>
  </body>
</html>
