{% extends 'ba/main.html' %} {% block content %} 

<div class="posts-page-container">
  <!--Articles Heading-->
  <h1 class="heading">Posts</h1>

  <form class="search" method="get" action="">
    <input type="text" name="q" placeholder="Search Posts" />
    <button>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </form>

  <section class="container">
    {% for post in posts %}
    <div class="post-container">
      {% if request.user.image %}
      <img class="post-image" src="{{post.image.url}}" />
      {% endif %}
      <div class="post-body">
        <h3 class="post-title">
          <a href="{% url 'post-detail' post.slug %}" class="read-more"
          >{{ post.title }}</a
        >
        </h3>
        <br />
        <small class="category"> #{{post.category}} </small>
      </div>
    </div>
    {% endfor %}
  </section>



</div>
<!--footer section -->
{% include 'ba/footer.html' %} {% endblock %}
