* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins";
	list-style: none;
	text-decoration: none;
	background-color: #d9ddde;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}
hr {
	color: black;
}
/* Nav */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 2em;
}
nav ul {
	display: flex;
	flex-direction: row;
}
nav ul li a {
	margin: 0 1em;
	list-style: none;
	background: linear-gradient(0deg, black, black);
	background-repeat: no-repeat;
	background-size: 0 2px;
	background-position: bottom;

}
nav ul li a:hover {
	background: linear-gradient(0deg, black, black);
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-position: bottom;
	transition: .5s ease-in;
}
.logo {
    width: 38px;
    height: 42px;
    border-radius: 50%;
}

/* hero page */

.hero-section {
	margin-bottom: 5em;
}
.bold-text {
	font-size: 2rem;
	padding: 3em;
	text-align: center;
	font-variant: all-petite-caps;
	position: relative;
  }
  .grid-items {
	display: grid;
	grid-template-columns: 3em 1fr 1fr 5em;
	gap: 2em;
  }
  .vertical-links {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction: column;
		  width:  100%;
		  height: 100%;
		  margin-top: -12em;
		  z-index: 1000;
  }
  .vertical-links a {
	writing-mode: vertical-rl;
	margin: 1.5em 0;
	color: black;
	font-size: 1em;
	font-variant: all-petite-caps;
	background: linear-gradient(0deg, black, black);
	background-repeat: no-repeat;
	background-size: 2px 0;
	background-position: bottom;
  }

  .vertical-links a:hover {
	background: linear-gradient(0deg, black, black);
	background-repeat: no-repeat;
	background-size: 2px 100%;
	background-position: bottom;
	transition: .5s ease-in;
  }
  .vertical-links-mobile {
	display:  none;
  }
  .first-image img {
	width: 100%;
	overflow: hidden;
	height: 100%;
	object-fit: cover;
  }
  .text-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em;
  }
  .text2 {
	text-align: justify;
  }
  .fa {
	display: inline;
	position: absolute;
  }
  .left {
	top: 0;
	left: 30%;
  }
  .right {
	bottom: 0;
	right: 30%;
  }
  hr {
	border: none;
	height: 1px;
	background-color: #333; 
	margin: -1px;
  }
  .second-image {
	width: 5em;
	height: 20em;
	background: #bd9166;
	margin-top: -12em;
	z-index: 100;
  }
  

/* home section */
.search {
    width: 500px;
    height: 50px;
    margin: 3em auto;
    background: white;
    border-radius: 35px;
    padding: 1em 2em;
	outline: none;
}
.search input {
        background: transparent;
        width: 90%;
		border: none;
		outline: none;

}
input:focus {
	outline: none ! important;
}
.fa-search {
	background: white;
	vertical-align: middle;
	margin-top: -1em;
	cursor: pointer;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-evenly;
	padding: 3em 1.5em;
}
.post-container {
	/* padding: .7em .7em; */
	padding: 2em 1em;
	width: 20em;
	margin: 0 auto;
	-webkit-border-top-right-radius: 40px;
	-webkit-border-bottom-left-radius: 40px;
	-moz-border-radius-topright: 40px;
	-moz-border-radius-bottomleft: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border: 1px solid black;
}
.post-image {
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	width: 100%;
    height: 13em;
	object-fit: cover;
	/* 378(w) 288(h) */
}
.post-body {
	color: black;
	padding: 1em 0;
}
.post-title, .post-title, .read-more, .category {
	padding: .2 0em;
}
.read-more {
	color: #6a8eff;
}
.category {
	background: #bd9166;
	padding: 1em;
	border-radius: 10px;
}

/* contact section */
.contact {
	margin-top: 3rem;
}

.heading  { 
	overflow: hidden; 
	text-align: center;		
	font-size: 2rem; 
	font-variant: all-petite-caps;
	color: white;
	-webkit-text-stroke: 1px black;
} 
.heading:before,
.heading:after { 
	background-color: #000; 
	content: ""; 
	display: inline-block; 
	height: 1px; 				 
	vertical-align: middle; 
	width: 50%; 
} 
.heading:before { 
	right: 0.5em; 
	margin-left: -50%; 
}
.heading:after { 
	left: 0.5em; 				
	margin-right: -50%; 
}
.contact_me_text {
	margin: .5em;
	padding: .5em;
	font-size: 1rem;
	text-align: center;
	display: block;	
	font-weight: 400;					
}
.text2 {
	margin-top: 1em;
}

/* form section */
.form_container {
	margin: 1em auto;
				padding: 1em;
				height: 100%;
				width: 360px;
				border-radius: 30px;
				background: transparent;			
				box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.transparent {
				background: transparent;
				border-bottom: 2px solid #6a8eff;
				color: black;
}
.form_holder {
				margin: 2rem 0;
}
.form_container input {
				border: 0;
				width: 100%;
				border-bottom: 1px solid #6a8eff;
				font-size: 1rem;
				
}
.form_container input:focus,
.form_container textarea:focus {
				outline: none;
}
#send_msg_btn {
				padding: .8em 1em;
				display: inline-block;			
				color: #E6E6FA;
				border-radius: 50px;
				border-bottom: none;
				margin: 1em auto;	
				background: #00b3fc;
}
.icons_container {
				display: flex;
				padding: 1em;
				margin: 0 2em;
				justify-content: space-around;
				color: black;
}
.icons_container a {
				display: inline-block;
				text-align: center;
				
}
.icons_container 
.fa-twitter-square, 
.fa-instagram,
.fa-github,
.fa-linkedin,
.fa-facebook-square {
				width: 1rem;
				height: 1rem;
				font-size: 1.25rem;
				border-radius: 2px;
}

/* footer section */
.footer_container p {
				margin: 0 .8em;
				padding: .2em;
				font-size: 1rem;
				font-variant: normal;
				text-align: center;
				display: block;	
				color: black;	
}
.footer_container .back_to_top {
				text-decoration: underline;
				display: inline-block;
				font-size: 1rem;
}

/* detail post */
.detail-container {
	max-width: 900px;
	margin: 0 auto;
	padding: 2em 1em;
}
.post h1, .small {
	text-align: center;
	margin: 0 auto;
	display: block;
}
.post img {
	width: 32em;
	height: 25em;
	margin: 1em auto;
	display: block;
}
.post p {
	margin: 1em 0;
	text-align: justify;
}
hr {
	border: 0;
	height: 1.5px;
 }
/* comments section */

.comments-container {
	margin: 2em auto;
	text-align: left;
}   
.comments-container h3 {
	margin: 1em auto;
}
.add-comment-heading {
	text-align: center;
}
.comments-container a {
	color: red;
}

/* email thank you page */
.thank-you-page {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.thank-you-page p {
	align-self: center;
	margin: 0 2em;
	font-size: 1.5em;
}
.thank-you-page p a {
	text-decoration: underline;
	color: rgb(148, 119, 109);
}

.not-found-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.not-found-container img {
    width: 70%;
}
.not-found-container p {
	align-self: center;
	margin: 0 2em;
    width: 30%;
    font-size: 2em;
    font-style: italic;
}
.not-found-container p a {
	background: linear-gradient(0deg, white, white);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: bottom;
}
/* media queries */
@media(max-width: 1024px) {
	.bold-text {
		font-size: 1.75rem;
	}
	.grid-items {
		margin-top: 2em;
		grid-template-columns: 2em 1fr 1fr 2em;
	}
	.thank-you-page {
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.thank-you-page p {
		font-size: 1em;
		margin-top: 2em;
	}
	/* home section */
	.container {
		grid-template-columns: 1fr 1fr;
		padding: 2em 1em;
	}
	.post-container {
		margin-bottom: 1em;
	}
}
@media(max-width: 600px) {
	.hero-section {
		margin-top: 2em;
	}
	.bold-text {
		font-size: 1.5rem;
		padding: 1.5em;
	  }
	  .grid-items {
		grid-template-columns: 1fr;
	  }
	  .vertical-links {
		display: none;
	  }
	  .vertical-links-mobile {
		position: absolute;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width:  2em;
		height: 10em;
		margin-top: -10em;
		z-index: 1000;

		}
		.vertical-links-mobile a {
		writing-mode: vertical-rl;
		margin: 1.5em 0;
		color: black;
		font-size: 1em;
		font-variant: all-petite-caps;
		background: linear-gradient(0deg, black, black);
		background-repeat: no-repeat;
		background-size: 2px 0;
		background-position: bottom;
	}
	.vertical-links-mobile a:hover {
		background: linear-gradient(0deg, black, black);
		background-repeat: no-repeat;
		background-size: 2px 100%;
		background-position: bottom;
		transition: .5s ease-in;
	  }

	  .first-image img {
		margin: 1em;
		width: 90%;
		height: 90%;
	  }
	  .second-image {
		position: absolute;
		right: 0;
		width: 1em;
		height: 10em;
		background: #bd9166;
	}

	  /* home section */
	  body {
		margin: 0;
		padding: 0;
	  }
	  .search {
		width: 250px;
		height: 50px;
		margin: 3em auto;
		border-radius: 35px;
		text-align: center;
	 }
	  .container {
		grid-template-columns: 1fr;
		gap: 3em;
		justify-content: space-between;
	  }

	  /* detail post section */
	  .post img {
		width: 20em;
		height: 15em;
	}

}
@media(max-width: 380px) {
	.form_container {
		width: 20em;
	}
}
@media(max-width: 330px) {
	.post-container, .post img, .form_container {
		width: 16em;
	}
	.post-image {
		height: 10em;
	}
}