* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins";
	list-style: none;
	text-decoration: none;
	background-color: #d9ddde;
}
/* Nav */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 2em;
}
nav ul {
	display: flex;
	flex-direction: row;
}
nav ul li {
	margin: 0 1em;
	list-style: none;

}
.logo {
    width: 38px;
    height: 42px;
    border-radius: 50%;
}
.search {
    border:none;
    border-bottom: 1px solid black;
    outline: none;
 }
 .search-btn {
	border-bottom: 1px solid black;
 }
/* hero page */
.hero-section {
	margin-bottom: 5em;
}
.bold-text {
	font-size: 2rem;
	padding: 3em;
	text-align: center;
	font-variant: all-petite-caps;
	position: relative;
  }
  .grid-items {
	display: grid;
	grid-template-columns: 3em 1fr 1fr 5em;
	gap: 2em;
  }
  .vertical-links {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction: column;
		  width:  100%;
		  height: 100%;
		  margin-top: -12em;
		  z-index: 1000;
  }
  .vertical-links a {
		  writing-mode: vertical-rl;
		  margin: 1.5em 0;
		  color: black;
		  font-size: 1em;
		  font-variant: all-petite-caps;
  }
  .first-image {
	width: ;
	height: ;
  }
  .first-image img {
	width: 100%;
	overflow: hidden;
	height: 100%;
  }
  .text-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em;
  }
  .text2 {
	text-align: justify;
  }
  .fa {
	display: inline;
	position: absolute;
  }
  .left {
	top: 0;
	left: 30%;
  }
  .right {
	bottom: 0;
	right: 30%;
  }
  hr {
	border: none;
	height: 1px;
	background-color: #333; 
	margin: -1px;
  }
  .second-image {
	width: 5em;
	height: 20em;
	background: #bd9166;
	background-size-x: right;
	margin-top: -12em;
	z-index: 100;
  }
  

/* post section */
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-evenly;
	padding: 3em 1.5em;
}
.post-container {
	border-radius: 20px;
	padding: 1.4em .7em;
	width: 25em;
	margin: 0 auto;
}
.post-image {
	border-radius: 15px;
	width: 100%;
    height: 18em;
	object-fit: cover;
}
.post-body {
	color: black;
	padding: 1em 0;
}
.post-title, .post-title, .read-more, .category {
	padding: .2 0em;
}
.category {
	background: #bd9166;
	padding: 1em;
	border-radius: 10px;
	margin-top: ;
}

/* contact section */
.contact {
	margin-top: 3rem;
}

.heading  { 
	overflow: hidden; 
	text-align: center;		
	font-size: 2rem; 
	font-variant: small-caps;
	color: white;
	-webkit-text-stroke: 1px black;
} 
.heading:before,
.heading:after { 
	background-color: #000; 
	content: ""; 
	display: inline-block; 
	height: 1px; 				 
	vertical-align: middle; 
	width: 50%; 
} 
.heading:before { 
	right: 0.5em; 
	margin-left: -50%; 
}
.heading:after { 
	left: 0.5em; 				
	margin-right: -50%; 
}
.contact_me_text {
	margin: .5em;
	padding: .5em;
	font-size: 1rem;
	text-align: center;
	display: block;	
	font-weight: 400;					
}
.text2 {
	margin-top: 1em;
}

/* form section */
.form_container {
	margin: 1em auto;
				padding: 1em;
				height: 100%;
				width: 360px;
				border-radius: 30px;
				background: transparent;			
				box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.transparent {
				background: transparent;
				border-bottom: 2px solid #6a8eff;
				color: black;
}
.form_holder {
				margin: 2rem 0;
}
.form_container input {
				border: 0;
				width: 100%;
				border-bottom: 1px solid #6a8eff;
				font-size: 1rem;
				
}
.form_container input:focus,
.form_container textarea:focus {
				outline: none;
}
#send_msg_btn {
				padding: .8em 1em;
				display: inline-block;			
				color: #E6E6FA;
				border-radius: 50px;
				border-bottom: none;
				margin: 1em auto;	
				background: #00b3fc;
}
.icons_container {
				display: flex;
				padding: 1em;
				margin: 0 2em;
				justify-content: space-around;
				color: black;
}
.icons_container a {
				display: inline-block;
				text-align: center;
				
}
.icons_container 
.fa-twitter-square, 
.fa-instagram,
.fa-github,
.fa-linkedin,
.fa-facebook-square {
				width: 1rem;
				height: 1rem;
				font-size: 1.25rem;
				border-radius: 2px;
}

/* footer section */
hr {
				
				background-color: black;
}
.footer_container p {
				margin: 0 .8em;
				padding: .2em;
				font-size: 1rem;
				font-variant: normal;
				text-align: center;
				display: block;	
				color: black;	
}
.footer_container .back_to_top {
				text-decoration: underline;
				display: inline-block;
				font-size: 1rem;
}

/* detail post */
.content {
    text-align: justify;
}
/* comments section */
.add_comment .add_comment_heading {    
    text-align: center;
    display: block;
}    